<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fbusers.tom.diploma">

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/phone10"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"
            android:label="@string/about_program">
        </activity>

        <activity android:name=".ProfileActivity"
            android:label="@string/profile">
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/settings">
        </activity>

        <activity android:name=".contacts.ContactsActivity"
            android:label="@string/my_contacts">
        </activity>

        <activity android:name=".contacts.AddContactActivity"
            android:label="@string/add_contact">
        </activity>

        <activity android:name=".RegistrationActivity"
            android:label="@string/registration">
        </activity>

        <activity android:name=".MessagesActivity"
            android:label="@string/messages">
        </activity>

        <activity android:name=".MenuActivity"
            android:label="@string/menu">
        </activity>

        <activity android:name=".ChangeDataActivity"
            android:label="Смена данных">
        </activity>
    </application>

</manifest>